body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:200px;
    top:10px;
    width:1000px;
    height:125px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:125px;
}

.u1 {
    position:absolute;
    left:2px;
    top:54px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:200px;
    top:247px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:200px;
    top:297px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_normal {
    background-image: url('../Login_Page_files/Login_Button_u4_normal.png');
}

.u4_container {
    position:absolute;
    left:403px;
    top:347px;
    width:97px;
    height:35px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:41px;
}

.u5 {
    position:absolute;
    left:2px;
    top:10px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:200px;
    top:392px;
    width:301px;
    height:45px;
    overflow:hidden;
}

#pd0u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:45px;
    
}

.u7_normal {
    background-image: url('../Login_Page_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:43px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:49px;
}

.u8 {
    position:absolute;
    left:2px;
    top:6px;
    width:296px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

